.card {
    display: inline-block;
    vertical-align: top;
}

p.card-text {
    max-height: 3em;
    overflow: hidden;
}

.Image {
    width: 100%;
    min-height: 140px;
    display: inline-flex;
    color: #999;
    background-color: #e8e8e8;
    align-items: center;
    justify-content: center;
}